[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/IDISAI/ui.git
[submodule "packages/core/src/roadmap"]
	path = packages/core/src/roadmap
	url = https://github.com/IDISAI/roadmap.git
[submodule "packages/core/src/notion"]
	path = packages/core/src/notion
	url = https://github.com/IDISAI/notion.git
